@charset "utf-8";

/* fonts */
/* "Pretendard Variable" */
@import url(../common/styles/Pretendard.css);
/* 'Montserrat', sans-serif */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap");

/* variable */
:root {
  /*** font-family ***/
  --main-font-ko: "Pretendard Variable", -apple-system, BlinkMacSystemFont,
    "맑은 고딕", 돋움, sans-serif;
  --main-font-en: "Montserrat", Arial, Helvetica, sans-serif;
  /*** font-size ***/
  --main-font-16: 1rem;
  --main-font-15: 0.938rem;
  --main-font-14: 0.875rem;
  --main-font-18: 1.125rem;
  --main-font-20: 1.25rem;
  --main-font-24: 1.5rem;
  /*** color ***/
  --main-color: #212529;
  --color-light-gray: #e9ecef;
  --color-dark-gray: #adb5bd;
  --point-color: #69a9c5;
  --color-layer: #1abc9c;
}
/* swiper */
--swiper-theme-color: #fff;
--swiper-navigation-size: 33px;

/*** 드래그 ***/
::selection {
  background-color: var(--color-layer);
  color: #fff;
}

/*** 스크롤바 ***/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--color-layer);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 14px;
}

/*** 부드러운 스크롤 ***/
html {
  scroll-behavior: smooth;
}

.up-to {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: var(--color-dark-gray) url(./images/arrow_up.svg) no-repeat 50% /
    80%;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
}
.up-to:hover {
  background-color: var(--main-color);
  bottom: 22px;
}

/*** common ***/
a {
  color: inherit;
  text-decoration: none;
}
img {
  vertical-align: top;
}
input,
button {
  outline: none;
}
body {
  font-family: var(--main-font-ko);
  font-weight: 400;
  color: var(--main-color);
  line-height: 1.5;
  text-transform: capitalize;
  word-break: break-all;
  overflow-wrap: break-word;
}
.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
}
.space {
  margin: 0 5vw;
}
.main-title {
  font-family: var(--main-font-en);
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-top: 50px;
  text-align: center;
}
.main-title::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: var(--main-color);
  display: block;
  margin: 30px auto;
}
.main-des {
  text-align: center;
  width: 80%;
  margin: 30px auto;
  font-size: var(--main-font-18);
}
/*** header ***/
header {
  border-bottom: 1px solid var(--color-dark-gray);
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  background: #fff;
  z-index: 999;
}
header h1 {
  height: 22px;
  margin: 0 3.723vw;
}
header nav {
}
header nav a {
  height: 50px;
  display: grid;
  place-items: center start;
  padding-left: 5vw;
}
header nav .global-nav {
  font-family: var(--main-font-ko);
  font-weight: 600;
  background-color: #fff;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  text-transform: uppercase;

  display: none;
}
header nav .global-nav a {
  border-bottom: 1px solid var(--color-light-gray);
}
header nav .mobile-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3.723vw;
}
header nav .mobile-btn span {
  text-indent: -9999px;
  background-color: var(--main-color);
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 10px;
  transition: 0.3s;
  position: relative;
}
header nav .mobile-btn span::before,
header nav .mobile-btn span::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  border-radius: 10px;
  transition: 0.3s;
  width: 25px;
  height: 3px;
  left: 0;
  top: -8px;
}

header nav .mobile-btn span::after {
  top: 8px;
}
header nav .mobile-btn.close span {
  background-color: transparent;
}
header nav .mobile-btn.close span::before {
  transform: rotate(45deg);
  top: 0;
}
header nav .mobile-btn.close span::after {
  transform: rotate(-45deg);
  top: 0;
}

/*** footer ***/
footer {
}
footer .footer-info {
  background-color: var(--color-light-gray);
  align-items: flex-start;
  flex-direction: column;
}
footer .footer-info h2 {
  text-indent: -9999px;
  background: url(./images/logo.png) no-repeat 50% / contain;
  width: 120px;
  height: 30px;
  margin: 100px 0;
}
footer .footer-info .footer-info-list {
  margin: 30px 10px;
}
footer .footer-info .footer-info-list h3 {
  font-weight: 700;
  font-family: var(--main-font-en);
  margin: 10px 0;
}
footer .footer-info .footer-info-list .footer-social-icon li {
  margin: 10px 20px;
}
footer .footer-info .footer-info-list .footer-social-icon svg {
  fill: var(--main-color);
  height: 1.3em;
}

footer .copyright {
  background-color: var(--color-dark-gray);
  text-align: center;
  padding: 50px;
}
footer .copyright .footer-policy {
  justify-content: center;
}
footer .copyright .footer-policy li:first-child::after {
  content: "/";
  margin-right: 5px;
}
/*** PC ***/
@media screen and (width >= 1200px) {
  .main-title {
    margin-top: 80px;
    font-size: 2.7rem;
  }
  .space {
    margin: 0 10vw;
  }
  /* header */
  header {
    height: 80px;
  }
  header h1 {
    height: 28px;
    margin: 0 1.667vw;
  }
  header nav .mobile-btn {
    display: none;
  }
  header nav .global-nav {
    display: flex;
    position: static;
  }
  header nav .global-nav a {
    border-bottom: none;
    height: 79px;
    padding: 0 20px;
  }
  header nav .global-nav a:hover {
    background-color: var(--color-layer);
    color: #fff;
  }

  /* footer */
  footer .footer-info {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
