@charset "utf-8";

@font-face {
  font-family: 'NotoSansKR';
  src: local('NotoSansKR'), url(./fonts/NotoSansKR-Thin.woff2) format(woff2);
  font-style: thin;
  font-weight: thin;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'NotoSansKR';
  src: local('NotoSansKR'), url(./fonts/NotoSansKR-Regular.woff2) format(woff2);
  font-style: thin;
  font-weight: thin;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'NotoSansKR';
  src: local('NotoSansKR'), url(./fonts/NotoSansKR-Medium.woff2) format(woff2);
  font-style: middle;
  font-weight: middle;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'NotoSansKR';
  src: local('NotoSansKR'), url(./fonts/NotoSansKR-Bold.woff2) format(woff2);
  font-style: bold;
  font-weight: bold;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'NanumSquare';
  src: local('NanumSquere'), url(./fonts/NanumSquareB.woff2) format(woff2);
  font-style: bold;
  font-weight: bold;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Play';
  src: local('Play'), url(./fonts/Play-Regular.woff2) format(woff2);
  font-style: normal;
  font-weight: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Play';
  src: local('Play'), url(./fonts/Play-Bold.woff2) format(woff2);
  font-style: bold;
  font-weight: bold;
  font-weight: 700;
  font-display: swap;
}
