@charset "utf-8";

html {font-size: 10px;}
body {font-family: 'NotoSansKR', '맑은 고딕', 돋움, sans-serif; text-align: center; margin: 0;}
a {text-decoration: none;}
button {
  border: none; 
  background-color: transparent; 
  text-transform: uppercase; 
  font-family: Arial, Helvetica, sans-serif; 
  font-weight: bold; 
  color: white;
  font-size: 1.4rem; 
  display: flex; 
  justify-content: center; }

/* header */
header .topBar {display: none; width: 100%; box-sizing: border-box;}
header .topBar .familyMenu{
  display: flex; 
  list-style: none; 
  padding: 0; 
  justify-content: center; 
  background-color: #2e3758;
}
header .topBar .familyMenu {margin: 0;}
header .topBar .familyMenu li a{
  display: block; 
  padding: 0 30px; 
  color: rgba(255, 255, 255, 0.4); 
  height: 40px; 
  line-height: 40px; 
  font-size: 1.3rem;
}
header .topBar .familyMenu li a:hover {color: rgb(255, 255, 255);}
header .mainBar {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 98px;
  line-height: 98px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box;
  border-bottom: 1px white solid;
} 
header .mainBar:hover {background-color: white;}
header .mainBar:hover :is(.btnMenu a, .familySite_btn, .languageSelect_btn) {color: black;}
header .mainBar img {width: 204px; object-fit: contain;}
header .mainBar img:nth-child(2) {position: absolute; left: 30px; top: 30px; display: none;}
header .mainBar:hover img:nth-child(2) {display: block;}
header .mainBar .btnMenu {
  width: 820px;
  min-width: 820px;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-family: 'NanumSquare', '나눔고딕', 돋움, sans-serif;
}
header .mainBar .btnMenu a {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%; height: 100%;
  padding: 30px;
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}
header .mainBar .btnMenu a:hover {color:#f5821f;}
header .mainBar .subMenu {display: flex; align-items: center;}
header .mainBar .subMenu>a {
  color: white; 
  background-color: #f5821f;
  border-radius: 50px;
  display: block;
  width: 127px; height: 31px;
  line-height: 31px;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-right: 10px;
}
header .mainBar .subMenu>a img {width: 18px;}
header .mainBar .subMenu .subMenu_wrap {
  display: flex;
  list-style: none;
  padding: 0;
  height: 31px;
  line-height: 31px;
}
header .mainBar .subMenu .subMenu_wrap :is(.familySite_btn, .languageSelect_btn) {
display: flex; justify-content: center; align-items: center; font-size: 1.4rem;} 
header .mainBar .subMenu .subMenu_wrap .languageSelect_li {display: none; list-style: none; background-color: white; padding: 0;}
header .mainBar .subMenu .subMenu_wrap .languageSelect_li a {color: black; font-size: 1.3rem; text-transform: uppercase;}
header .mainBar .subMenu .subMenu_wrap .languageSelect_btn:hover + .languageSelect_li {display: block;}

/*** main ****/
main {height: 100vh; display: flex; flex-direction: column; justify-content: center;}
main .bgVideo_wrapper {width: 100%; z-index: -1; position: absolute; top: 0; left: 0;}
main .bgVideo {width: 100%;}
main .inner {
  display: flex; 
  justify-content: space-between; 
  padding: 0 50px;
}
main .inner .title h2 {
  height: 160px; 
  font-size: 60px; 
  color: white; 
  text-transform: uppercase; 
  font-style: italic; 
  font-weight: 400;
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
  text-align: left;
  letter-spacing: -0.031em;
  margin: 0;
}
main .inner .title h2 span {display: inline-block; width: 30px;}
main .inner .title h2 strong { 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 68px; 
  font-weight: 700; 
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
main .inner .title p {text-align: left; padding-left: 30px; color: white; font-size: 1.6rem;}
main .inner .side_btn a {
  width: 100px; height: 100px; 
  background-color: rgba(0,0,0,.25);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
main .inner .side_btn a p {margin: 7px 0 0; font-size: 1.3rem;}
main .inner .side_btn a:nth-child(2) {margin-top: 17px;}

/****section_glance ****/
.section_glance {padding: 120px 0 60px;}
.section_glance h2 {
  font-family: 'Play', sans-serif; 
  font-size: 46px; 
  margin:0; 
  padding: 35px 0 0;
}
.section_glance h2::before {
  content: "/";
  color: #f5821f;
  position: relative;
  bottom: 70px; left: 150px;

}
.section_glance p {margin: 5 0 70px; font-size: 1.7rem; color: #666;}
.section_glance .glance {
  list-style: none; 
  padding: 0; 
  margin: 0; 
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.section_glance .glance li {padding: 12px 20px 50px; width: 400px; box-sizing: border-box; border-right: 1px solid #e6eaee;}
.section_glance .glance li:nth-child(4) {border-right: none;}
.section_glance .glance li h3 {font-family: 'play', sans-serif; font-size: 1.5rem; margin: 35px 0 0;}
.section_glance .glance li h3 strong {font-size: 66px;}
.section_glance .glance li h4 {font-size: 2rem; margin: 0; font-weight: 500; color: #2e3758;}
.section_glance .glance li p {font-size: 1.6rem; margin: 0;}
.section_glance .glance li h3::after {
  content: "";
  display: block;
  margin: 24px auto;
  width: 24px; 
  height: 1px; 
  /* margin: 18px auto; */
  background-color: black;
  position: relative;
  }

  /****section_business****/
.section_business {padding: 60px 0; position: relative;}
.section_business h2 {
  font-family: 'Play', sans-serif; 
  font-size: 46px; 
  margin:0; 
  padding: 35px 0 0;
}
.section_business h2::before {
  content: "/";
  color: #f5821f;
  position: relative;
  bottom: 70px; left: 150px;
}
.section_business p {margin: 5 0 45px; font-size: 1.7rem; color: #666;}
.section_business .business_wrapper {display: flex;}
.section_business .business_wrapper .business_txtArea {
  position: relative;
  box-sizing: border-box;
  width: calc(((100% + 72px) / 2) - 72px);
  background-color: #eeeeee; 
  padding: 60px 20px}
/* .section_business .business_wrapper .business_txtArea::before {
  content: "";
  display: block; 
  position: absolute;
  width: 100px;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 100%;
  background-color: #eeeeee;
} */
.section_business .business_wrapper .business_txtArea::after {
  content: "";
  width: 72px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 72px;
  background-color: #eeeeee;
  display: block;
}  
.section_business .business_wrapper .business_txtArea .business_menu {
  list-style: none; padding: 0; display: flex; justify-content: center; margin: 0 0 37px;
}
.section_business .business_wrapper .business_txtArea .business_menu a {
  font-size: 1.6rem; color: #666666; padding: 4px 12px;
}
.section_business .business_wrapper .business_txtArea h3 {
  font-size: 3.5rem; margin: 0 0 30px; font-weight: 500;
}
.section_business .business_wrapper .business_txtArea p {
  font-size: 1.5rem; font-weight: 400; margin: 0; line-height: 1.65;
}
.section_business .business_wrapper .business_txtArea .miniImg_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 40px 0 0;
}
.section_business .business_wrapper .business_txtArea .miniImg_wrapper li {
  padding: 10px 15px;
} 
.section_business .business_wrapper .business_img {
  width: calc((100% + 72px) / 2);
  position: relative;
  top: 50px;
}
.section_business .detail_btn {
  display: block;
  width: 155px; 
  height: 45px; 
  box-sizing: border-box;
  line-height: 11px;
  padding: 15px 25px; 
  color: white; 
  background-color: #f5821f;
  z-index: 2;
  font-size: 1.5rem;
  box-sizing: border-box;
  text-transform: capitalize;
  font-weight: 700;
  position: absolute;
  left: 43%; top: 550px;
  cursor: pointer;
}
.section_business .detail_btn:hover {
  transition: 0.5s; 
  border-radius: 25px; 
  background-color: #ff9600;}

  /****section_map****/
  .section_map { 
    padding: 90px 0 60px; 
    background: url(./images/bg_worldmap.png) no-repeat center;}
  .section_map h2 {
    font-family: 'Play', sans-serif; 
    font-size: 46px; 
    margin:0; 
    padding: 35px 0 0;
  }
  .section_map h2::before {
    content: "/";
    color: #f5821f;
    position: relative;
    bottom: 70px; left: 110px;
  }
  .section_map p {margin: 5 0 25px; font-size: 1.7rem; color: #666;}
  .section_map .schedule_menu {
    list-style: none; 
    padding: 0; 
    display: flex; 
    justify-content: center;
    margin: 0 0 30px;
  }
  .section_map .schedule_menu li a {
    font-family: 'Play', sans-serif;
    font-size: 1.7rem;
    padding: 5px 20px;
    color: #112942;
    font-weight: 700;
   }
   .section_map .schedule_menu li a:hover {color: #ff6C00;}
   .section_map .detailBtn_wrapper {padding: 45px 0 0;}
   .section_map .detail_btn {
    display:block;
    width: 155px; 
    height: 45px; 
    box-sizing: border-box;
    line-height: 11px;
    padding: 15px 25px; 
    color: white; 
    background-color: #f5821f;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    left: calc(50% - 155px / 2);
  }
  .section_map .detail_btn:hover {
    transition: 0.5s; 
    border-radius: 25px; 
    background-color: #ff9600;}
  .section_map .kakaomap_wrap {display: flex; justify-content: center;}

/****section_contact****/
.section_contact {padding: 60px 20px 120px; margin: 0 auto;}
.section_contact h2 {
  font-family: 'Play', sans-serif; 
  font-size: 46px; 
  margin:0; 
  padding: 35px 0 0;
  text-transform: capitalize;
}
.section_contact h2::before {
  content: "/";
  color: #f5821f;
  position: relative;
  bottom: 70px; left: 110px;
}
.section_contact p {margin: 5 0 25px; font-size: 1.7rem; color: #666;}
.section_contact .contact_content {display: flex; height: 410px}
.section_contact .contact_content .pressRelease {flex-basis: 37.5%; position: relative;}

.section_contact .contact_content .notice {flex-basis: 43.75%; padding: 10px 49px 0;}
.section_contact .contact_content .recruit {flex-basis: 18.75%;}
.section_contact .contact_content .pressRelease {
  background: url(./images/3.jpg) no-repeat 100% / cover;
}
.section_contact .contact_content .pressRelease .press_bg{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0; top: 0;
  z-index: 1;
}
.section_contact .contact_content .pressRelease .data {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 60px;
  z-index:10;
}
.section_contact .contact_content .pressRelease h3 {
  background-color: #f2851f; 
  color: white;
  position: relative;
  top: 0; left: 0;
  width: 140px; height: 50px;
  line-height: 50px;
  margin: 0;
  font-size: 1.7rem;
  position: absolute;
  z-index:10;
}
.section_contact .contact_content .pressRelease h4 {
  font-size: 3.8rem;
  margin: 25px 0 0;
  color: white;
  font-weight: 500;
  line-height: 1.5em;
  word-break: break-all;
  width: 80%;
  min-width: 80%;
}
.section_contact .contact_content .pressRelease p:nth-of-type(1) {
  font-family: 'Play', sans-serif; 
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  position: absolute;
  z-index:10;
  top: 230px;
}
.section_contact .contact_content .pressRelease p:nth-of-type(2) {
  width: 130px; 
  height: 42px; 
  border: 1px solid white; 
  line-height: 42px;
  position: absolute;
  z-index:10;
  top: 260px;
  color: white;
}
.section_contact .contact_content .notice .notice_header {
  display: flex; justify-content: space-between; margin: 0 0 20px;
}
.section_contact .contact_content .notice .notice_header h3{
font-size: 3.8rem; 
font-family: 'Play', sans-serif;
text-transform: capitalize;
margin: 0; 
}
.section_contact .contact_content .notice .notice_header a {
  display: block;
  width: 130px;
  height: 42px;
  line-height: 42px;
  border: 1px solid #dcdcdc;
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
}
.section_contact .contact_content .notice .notice_list {
  list-style: none; padding: 0;
}
.section_contact .contact_content .notice .notice_list a::before {
  content: "";
  display: block;
  width: 5px;
  height: 1px;
  position: relative;
  right: 20px; top: 10px;
  background-color: black;
}
.section_contact .contact_content .notice .notice_list li {
  display: flex; justify-content: space-between; align-items: center;
}
.section_contact .contact_content .notice .notice_list a {
  padding: 17px 20px 17px 28px;
  display: block;
  font-size: 1.6rem;
  overflow: hidden;
  color: #666666;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.section_contact .contact_content .notice .notice_header a:hover {
border-radius: 25px;
transition: 0.5s;
border-color: #aaa;
}
.section_contact .contact_content .notice .notice_list p {
  font-size: 1.5rem;
  font-family: 'Play', sans-serif;
  padding: 20px 0;
  color: #CCCCCC;
  margin: 0;
}
.section_contact .contact_content .recruit {
  padding: 20px;
  display: block;
  background: url(./images/bg_main_recruit.png) no-repeat center / cover;
  position: relative;
}
.section_contact .contact_content .recruit h3 {
  font-family: 'Play', sans-serif;
  font-size: 3.5rem;
  color: #f2851f;
  font-weight: 700;
  text-align: left;
  margin: 0;
}
.section_contact .contact_content .recruit h4 {
  font-size: 1.8rem;
  color: #393939;
  font-weight: 500;
  text-align: left;
  margin: 0;
}
.section_contact .contact_content .recruit p {
  margin: 0;
  background-color: #f18d00;
  color: white;
  width: 131px; height: 45px;
  line-height: 15px;
  padding: 15px 20px;
  box-sizing: border-box;
  font-size: 1.5rem;
  position: absolute;
  bottom: 35px;
  left: calc(50% - (131px / 2));
}
.section_contact .contact_content .recruit p:hover {
  border-radius: 25px;
  transition: .5s;
}
/**** section_familylogo ****/
.section_familyLogo {
background-color: #f3f3f3;
}
.section_familyLogo ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}
.section_familyLogo ul li {
  height: 100px;
  display: flex;
  align-items: center;
}

/**** footer ****/
footer {
  display: flex; 
  justify-content: space-between;
  padding: 50px 20px 70px;
  background-color: #2a2a2a;;
}
footer .ft_sec1 img {padding: 0 0 40px; position: relative; right: 130px;}
footer .ft_sec1 address {
  color: #979797; 
  display: inline-block; 
  text-align: left;
  font-size: 1.4rem;
}
footer .ft_sec1 dl {display: flex; color: #979797; font-size: 1.4rem; }
footer .ft_sec1 dl dt {padding: 0 10px 8px 0;}
footer.ft_sec1 dl dd {padding: 0 0 8px; margin: 0 17px 0 0;}
footer .ft_sec1 p {
  font-size: 1.4rem; 
  margin: 22px 0 0; 
  font-family: 'Play', sans-serif;
  text-align: left;
  color: #5b5b5b;
}
footer .ft_sec2 {display: flex; width: 350px; flex-wrap: wrap;}
footer .ft_sec2 > a {
  display: block; 
  padding: 0 0 40px 20px; 
  font-size: 15px;
  color: #979797;}
footer .languageSelect_btn {padding: 0 30px 0 0;}
footer .ft_sec2 .languageSelect_li {
  list-style: none; 
  padding: 0;}
footer .ft_sec2 .languageSelect_li li a {
  color: rgb(0, 0, 0); 
  font-size: 1.3rem; 
  text-transform: uppercase;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%; height: 30px;
  position: relative;
  right: 10px;
  border-bottom: 1px black solid;
  font-weight: bold;
  display: none;
}
footer .ft_sec2 .languageSelect_btn:hover + .languageSelect_li li a {display: block;}
footer .ft_sec2 .footer_familyMenu {
  background-color: #1a1917;
  color:  #7c7c7b;
  font-size: 1.5rem;
  width: 200px;
  height: 30px;
  }