@charset "utf-8";


a { text-decoration: none; color: black;}
body {
  width: 100vw; margin: 0;
  font-family: 'NotoSansKR', sans-serif;
}

/**** header ****/
header {
  height: 65px;
  background-color: #383838;
  color: white;
  position: sticky;
  top: 0;
}
h2 {
  font-family: 'Montserrat', cursive;
  font-weight: 800;}
.wrapper {
  height: 65px; width: calc(100% - 46px);
  margin: 0 32px 0 14px;
  display: flex;
  align-items: center;
  position: relative;
}
.wrapper h1 {
  width: 83px; height: 65px;
  margin: 0;
}
.wrapper h1 img {
  width: 73px; height: 65px;
  line-height: 65px;
}
.wrapper svg {
  width: 15px;
  position: absolute;
  right: 0;
  fill: #fff;
}

/**** footer ****/
footer {
  height: 176px;
  background-color: black;
  color: white;
  font-size: 11px;
  text-align: center;
  color: #FFFFFF66;
}
footer .copyright {
  width: 77%;
  margin: 0 auto;
  padding: 30px;
}
footer .address {
  width: 51%;
  margin: 0 auto;
}

/**** main page ****/
main {
  background-image: url(./images/img-05.jpg);
  height: 835px;
  background-size: cover;
  background-position: 50%;
  background-color: rgb(112, 112, 112);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .title {
margin: 0 11px;
color: white;
}
main .title h2 {
  margin: 0;
  width: 76%;
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
}
main .title a {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  width: 115px;
  color: white;
  border: 3px solid white;
  font-weight: bold;
  padding: 15px 42px;
  margin: 42px 0;
}

/**** section1 ****/
.section1 {
  background-color: rgb(233, 180, 189);
}
.section1 ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}
.section1 ul .achievement{
  width: 100%;
}
.section1 ul .achievement .item {
  margin: 0;
  padding: 54px 36px;
}
.section1 ul .achievement .item h3 {
  font-size: 36px;
  width: 27%;
  margin: 0;
  color: #004840;
}
.section1 ul .achievement .item h4 {
  font-family: 'Montserrat', cursive;
  font-size: 24px;
  font-weight: 300;
  width: 44%;
  margin: 10px 0;
}
.section1 ul .achievement .item p {
  width: 80%;
  margin: 0;
}
.section1 ul .achievement1 {background-color: #fff;}
.section1 ul .achievement2 {background-color: #F0F0F0;}
.section1 ul .achievement3 {background-color: #E6E6E6;}
.section1 ul .achievement4 {background-color: #DADADA;}

/**** section2 ****/
.section2 .class2-1, .section2 .class2-2 {
  display: flex; flex-direction: column;
}
.section2 .img {
  width: 100%;
  object-fit: cover;
}
.section2 .description {
  padding: 54px 36px;
  font-family: 'Montserrat', cursive;
}
.section2 .description p:nth-child(1) {
  width: 50%;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1em;
}
.section2 .description h2{
  margin: 0;
  width: 68vw;
  font-size: 38px;
  font-weight: 800;
}
.section2 .description p:nth-child(3) {
  width: 85%;
  font-weight: 300;
}
.section2 .description a {
  display: block;
  box-sizing: border-box;
  border: black 1px solid;
  width: 135px;
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-family: 'NotoSansKR', sans-serif;
}
.section2 .description1 {
  background-color: #004840;
  color: white;}
.section2 .description1 a {
  color: inherit;
  border-color: white;
}
.section2 .description1 h2{text-transform: capitalize;}

/**** section3 ****/
.section3 {
  background-color: #FAFAFA;
  padding: 50px 20px;
}
.section3 h4 {
  width: 81vw;
  margin: 0 0 18px;
  padding: 0 12px;
  line-height: 1.4;
  font-size: 24px;
  font-family: 'Montserrat', cursive;
  font-weight: 800;
} 
.section3 p {
  margin: 0px;
  padding: 0 12px;
  width: 81vw;
  font-size: 16px;
  margin: 0 0 18px;
} 
.section3 .video {
display: flex;
justify-content: center;
}
.section3 .video iframe {
  width: 100%; height: 100%;
}

/**** section4 ****/
.section4 {
  color: #fff;
}
.section4 .class {
  width: 100%; aspect-ratio: 1 / 1;
}
.section4 .content {
  padding: 12.3%;
}
.section4 .class svg {
  fill: white;
  padding: 10px 0 0;
  height: 28px;
}
.section4 .class p, .section4 .class h3 {line-height: 1.8;}
.section4 .class4-1 {
background: url(./images/01.jpg) no-repeat 100% / cover;
}
.section4 .class4-3 {
  background: url(./images/02.jpg) no-repeat 100% / cover;
  }
.section4 .class4-4 {
  background: url(./images/03.jpg) no-repeat 100% / cover;
  }
.section4 .class4-1 h4, .section4 .class4-3 h4, .section4 .class4-4 h4 {
  padding-bottom: 57%;
  font-weight: 300;
}
.section4 .class4-1 h3, .section4 .class4-3 h3, .section4 .class4-4 h3 {
  width: 70%;
  font-size: 32px; 
  font-family: 'Montserrat', cursive;
  margin: 0;
}
.section4 .class4-2 {background: url(./images/05.jpg) no-repeat 100% / cover;}
.section4 .class4-5 {background: url(./images/06.jpg) no-repeat 100% / cover;}
.section4 h4 {width: 6%; margin: 0; font-size: 18px;}
.section4 .class4-2 h4, .section4 .class4-5 h4{
  padding-bottom: 28%;
  font-weight: 300;
}
.section4 .class4-2 h3, .section4 .class4-5 h3 {
  font-size: 20px;
  font-family: 'Montserrat', cursive;
  font-weight: 400;
  margin: 0;
}
.section4 .class4-6 svg,.section4 .class4-7 svg, .section4 .class4-9 svg, .section4 .class4-10 svg {
padding-bottom: 26%;
height: 40px;
  }  
.section4 .class4-6 h3,.section4 .class4-7 h3, .section4 .class4-10 h3 {
  font-size: 24px;
  margin: 0 0 18px;
  font-family: 'Montserrat', cursive;
  text-transform: capitalize;
  font-weight: 400;
}
.section4 .class4-6 p,.section4 .class4-7 p, .section4 .class4-10 p {
  line-height: 1.8;
  padding-bottom: 16px;
  margin: 0;
  font-family: 'NotoSansKR', sans-serif;
  font-weight: 400;
}
.section4 .class4-6, .section4 .class4-10 {
  background-color: white;
  color: #004840;
}
.section4 .class4-6 svg, .section4 .class4-10 svg {
  fill: #004840;
}
.section4 .class4-7 {
  color: white;
  background-color: #004840;
  }  
.section4 .class4-8 {
  width: 100%;
  text-align: center;
  color: #004840;
  background: url(./images/bg-square-3.jpg) no-repeat 100% / cover;
  }  
.section4 .class4-8 .content4-8 {padding: 25% 12%;}

.section4 .class4-8 svg {
  fill: #004840;
  height: 40px;
  padding-bottom: 10px;
}
.section4 .class4-8 h3 {
  font-family: 'Montserrat', cursive;
  font-size: 24px;
  font-weight: 800;
  text-transform: capitalize;
  margin: 0;
}
.section4 .class4-8 p {
  margin: 0;
}
.section4 .class4-9 {
  background: url(./images/03.jpg) no-repeat 100% /cover;
  }  
.section4 .class4-9 svg {padding-bottom: 33%;} 
.section4 .class4-9 h3 {
  font-family: 'Montserrat', cursive;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}
/**** section5 ****/
.section5 {
  background-color: #1D2021;
  font-family: 'Montserrat', cursive;
  color: white;
  text-align: center;
  padding: 50px 20px;
}
.section5 .fortpolio h3 {
  margin: 0;
  font-size: 32px;
  font-weight: 800;
  margin: 0 0 18px;
}
.section5 .fortpolioImg {
  height: 89.74vw;
  background: url(./images/11.jpg) no-repeat 100% / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section5 .fortpolioImg a {
  width: 68px; height: 68px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section5 .fortpolioImg a svg {
  fill: #1D2021;
  
}
.section5 h4 {
  font-family: 'NotoSansKR', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 20px 5px;
  margin: 0;
}

/**** section6 ****/
.section6 {
  padding: 50px 20px;
}
.section6 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section6 ul li {
padding: 20px 0;
width: 41.8%;
border-bottom: #383838 1px solid;
display: flex;
justify-content: center;
}

.section6 ul li img {
  width: 31.4vw;
}
.section6 ul li:nth-child(15), .section6 ul li:nth-child(16) {
  border-bottom: none;
}
.section6 ul li:nth-child(even) {
  border-left: #383838 solid 1px;
}

/**** section7 ****/
.section7 .contact {
  width: 82vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 54px 36px;
  background-color: #F7F7F7;
}
.section7 .contact dt {
  margin: 16px 0 0; 
  font-size: 16px; 
  font-weight: 700;
}
.section7 .contact dd {margin: 0; font-size: 16px;}
.section7 .contact h4 {
  font-family: 'Montserrat', cursive;
  font-size: 28px;
  margin: 0 0 18px;
  font-weight: 800;
}
.section7 form {
display: flex;
flex-direction: column;
width: 81.6%;
padding: 54px 36px;
}
.section7 form input, .section7 form textarea {
  font-family: 'NotoSansKR', sans-serif;
  color: black;
  font-weight: 600;
  background-color: #F7F7F7;
  margin-bottom: 8px;
  padding: 16px;
  border: none;
}
.section7 form input::placeholder, .section7 form textarea::placeholder {
  color: #DADADA;
}
.section7 form input:focus, .section7 form textarea:focus {
  outline: 1px solid black;
}
.section7 form textarea {
  height: 300px;
}
.section7 form button {
  height: 52px;
  background-color: #004840;
  color: white;
  font-family: 'NotoSansKR', sans-serif;
  font-size: 18px;
  padding: 9px 32px;
}
