@charset "utf-8";
/* footer.css */

/**** footer ****/
footer {
  background-color: #3f3f3f;
  color: #fff;
  margin-top: 6vw;
}
footer .footer-banner {
  background-color: #ddd;
  padding: 30px 0;
  justify-content: space-evenly;
  align-items: flex-end;
}
footer .footer-bottom {
  max-width: 1600px;
  margin: 0 auto;
  font-size: 12px;
  padding: 30px 10px;
}
footer .footer-bottom h1 {
  background: url(./assets/images/logo.png) no-repeat 0 50% / contain;
  text-indent: -9999px;
  filter: grayscale(100%) contrast(40%);
  width: 18.421vw; /* 350px */
  height: 5.128vh; /* 40px */
}
/* 
css filter효과
https://developer.mozilla.org/ko/docs/Web/CSS/filter 
*/
footer .footer-bottom .footer-utill {
  margin-left: auto;
  font-size: var(--font-size-14);
  gap: 20px;
  color: #998;
}
footer .footer-bottom > .flex:nth-child(2) {
  margin: 20px 0 50px;
  justify-content: space-between;
}
footer .footer-bottom address {
  text-align: left;
  color: #999;
  line-height: 2;
}
footer .footer-bottom .copyright {
  margin-top: 20px;
}
footer .footer-bottom #family-site {
  align-self: flex-start;
  appearance: none; /* radio, checkbox, range, select의 기본 스타일 숨김 */
  background-color: #252525;
  color: #ffffff;
  padding: 10px 20px;
}
