@charset "utf-8";

/* google icon */
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,0,0);

@import url(./header.css);
@import url(./footer.css);
@import url(./assets/styles/common.css);

/**** contents ****/
/** main-video **/
.main-video {
  aspect-ratio: 16 / 9;
  color: #fff;
  /* background-color: #ddd; */
  /* aspect-ratio: 16 / 9; */
  position: relative;
  overflow: hidden;

  background: url(./assets/images/main_diag1.png) no-repeat 0 0,
    url(./assets/images/main_diag2.png) no-repeat 0 0,
    url(./assets/images/main_diag3.png) no-repeat 0 40%,
    url(./assets/images/main_diag4.png) no-repeat 0 100%,
    url(./assets/images/main_diag5.png) no-repeat 0 100%,
    url(./assets/images/main_diag6.png) no-repeat 100% 100%,
    url(./assets/images/main_diag7.png) no-repeat 100% 100%,
    url(./assets/images/main_bg_check.png);
}
.main-video .youtube {
  width: 100%;
  aspect-ratio: 16 / 9;
  z-index: -1;
  position: relative;
}

.main-video .main-video-text {
  position: absolute;
  left: 6vw;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  font-style: italic;
}
.main-video .main-video-text h2 {
  font-size: var(--font-size-vid-title1);
  font-weight: 900;
  line-height: 1.2;
  text-shadow: 1px 1px #000;
}
.main-video .main-video-text h2 span {
  font-size: var(--font-size-vid-title2);
  font-weight: 500;
  font-style: italic;
  display: block;
  text-indent: 30px;
}
.main-video .main-video-text p {
  width: 50%;
}
.main-video .main-widget {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--font-size-14);
}
.main-video .main-widget li {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 10px 0;
}
.main-video .main-widget li:hover {
  background-image: linear-gradient(45deg, var(--point-color), orange);
}
.main-video .main-widget li a {
  display: block;
  background: no-repeat 50% 20%;
  padding-top: 50px;
}
.main-video .main-widget li:first-child a {
  background-image: url(./assets/images/main_reserve_icon1_2108.png);
}
.main-video .main-widget li:last-child a {
  background-image: url(./assets/images/main_reserve_icon2_2108.png);
}

/** glance **/
.glance .glance-list {
  justify-content: center;
  max-width: 1800px;
  margin: 70px auto;
}
.glance .glance-list li {
  width: 23%;
  border-right: 1px solid #ddd;
  background: no-repeat 50% 15%;
  padding: 100px 0 0;
}
.glance .glance-list li:nth-child(1) {
  background-image: url(./assets/images/icon_mg_calendar.png);
}
.glance .glance-list li:nth-child(2) {
  background-image: url(./assets/images/icon_mg_user.png);
}
.glance .glance-list li:nth-child(3) {
  background-image: url(./assets/images/icon_mg_clock.png);
}
.glance .glance-list li:nth-child(4) {
  background-image: url(./assets/images/icon_mg_ship.png);
  border-right: none;
}
.glance .glance-list h3 {
  font-weight: 400;
  position: relative;
}
.glance .glance-list li h3::after {
  content: "";
  width: 20px;
  height: 1px;
  display: block;
  background-color: #000;
  margin: 15px auto;
}
.glance .glance-list h3 strong {
  font-family: var(--main-font-en);
  font-size: var(--font-size-count);
  font-weight: 700;
  margin-right: 5px;
}
.glance .glance-list h4 {
  color: #022974;
  font-size: 18px;
  font-weight: 500;
}
.glance .glance-list p {
  font-size: 0.8rem;
}

/** business **/
.business-wrapper {
  position: relative;
}
.business .business-text {
  background-color: #eee;
  width: 50%;
  position: relative;
}
.business .business-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #eee;
  width: 100px;
  height: 100%;
}
.business .business-wrapper .business-text .business-menu {
  justify-content: center;
  margin: 50px 0;
}
.business .business-wrapper .business-text .business-menu a {
  margin: 10px;
  position: relative;
  display: block;
}
.business .business-wrapper .business-text .business-menu a.active::after {
  content: "";
  width: 90%;
  height: 3px;
  background-color: var(--point-color);
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.business .business-wrapper .business-text h3 {
  font-size: var(--font-size-title);
}
.business .business-wrapper .business-text p {
  color: #999;
  width: 60%;
  margin: 20px auto;
  line-height: 1.6;
  font-size: var(--font-size-14);
}
.business .business-wrapper .business-text .business-img-list {
  justify-content: center;
}
.business .business-wrapper .business-text .business-img-list li {
  margin: 1vw 0.5vw 50px;
}
.business .business-wrapper .business-img {
  width: 50%;
  position: relative;
  top: 40px;
}
.business .business-wrapper .business-img img {
  height: 60vh;
  object-fit: cover;
}
.business .business-wrapper .more-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
/** location **/
.location {
  background: url(./assets/images/bg_worldmap.png) no-repeat 50% 30%;
}
.location .location-list {
  justify-content: center;
}
.location .location-list a {
  display: block;
  font-family: var(--main-font-en);
  font-weight: 700;
  margin: 30px 16px;
}
.location .location-list a:hover,
.location .location-list a.on {
  color: var(--point-color);
}
.location .location-kakao {
  width: 90%;
  margin: 20px auto 50px;
  background-color: #ddd;
  aspect-ratio: 3 / 1;
}

/** contact **/
.contact .contact-wrapper {
  justify-content: center;
  gap: 2.5vw;
  max-width: 1600px;
  margin: 0 auto;
  align-items: flex-start;
}
.contact .contact-wrapper .press {
  transition: 0.3s;
  /* flex-grow: 2; */
  width: 40%;
  padding-bottom: 80px;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(./assets/images/1.png) no-repeat 50% / cover;
}
.contact .contact-wrapper .press:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(./assets/images/1.png) no-repeat 50% / cover;
}
.contact .contact-wrapper .press h3 {
  background-color: var(--point-color);
  font-size: var(--font-size-18);
  width: 130px;
  padding: 10px;
}
.contact .contact-wrapper .press h4 {
  margin: 30px 80px;
  font-size: var(--font-size-title);
  overflow: hidden;
  /* 한 줄 말줄임 ... 
  text-overflow: ellipsis; 말줄임
  white-space: nowrap; 자동 줄바꿈 금지
  width: 300px;
  */
  /* 여러 줄 말줄임 */
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* 여러 줄일 때 텍스트 자르는 줄 */
  -webkit-box-orient: vertical; /* 박스 진행 방향 */
}
/* 
  -webkit- 벤더 : 정식 버전으로 출시 되기 전 개발자들이 사용할 수 있게 만들어 놓은 약속어
  (-ms-,) -o-, -moz-
*/
.contact .contact-wrapper .press .press-date {
  margin: 30px auto 10px;
}

/* flex-item / flex-container */
.contact .contact-wrapper .notice {
  /* align-self: flex-start; */
  /* flex-grow: 2; */
  width: 40%;
  text-align: left;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px 0;
}
.contact .contact-wrapper .notice h3 {
  font-family: var(--main-font-en);
  font-weight: 700;
  font-size: var(--font-size-title);
  text-transform: capitalize;
}
.contact .contact-wrapper .notice .ghost-btn {
  border-color: #666;
}
.contact .contact-wrapper .notice .notice-list {
  width: 100%;
  margin: 30px 0;
}
.contact .contact-wrapper .notice .notice-list li {
  border-bottom: 1px solid #ddd;
  padding: 16px 6px;
  list-style: inside emoji;
  font-size: var(--font-size-14);
  color: #999;
  /* display: flex;
  justify-content: space-between; */
}
/* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style */
@counter-style hyphen {
  system: cyclic; /* 같은 값 반복 */
  symbols: "-";
  suffix: " "; /*머릿말 기호 다름 처리 방식*/
}
@counter-style emoji {
  system: cyclic;
  symbols: "🐼";
  suffix: " ";
}
.contact .contact-wrapper .notice .notice-list li a {
  /* 한줄일 때 말줄임. 정해진 범위가 있어야 적용 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 50%;
}
.contact .contact-wrapper .notice .notice-list li a:hover {
  text-decoration: underline;
  text-underline-offset: 3px; /*텍스트와 밑줄사이 여백*/
}
.contact .contact-wrapper .notice .notice-list li .notice-date {
  float: right; /* 요소의 진행 방향 설정. left와 right 두 값만 있음. 부모요소의 높이값을 인식하지 못하기 때문에 최근엔 잘 사용하지 않으며 사용기 clearfix값이나 overflow값이 필요*/
}
.contact .contact-wrapper .notice .notice-list li .notice-date::before {
  font-family: "Material Symbols Outlined";
  content: "schedule";
  vertical-align: bottom;
  margin-right: 3px;
}
.contact .contact-wrapper .recruit {
  /* flex-grow: 1; */
  width: 20%;
  background: url(./assets/images/bg_main_recruit.png) no-repeat 50% / cover;
  text-align: left;
  padding: 20px 30px;
  position: relative;
  align-self: stretch;
}
.contact .contact-wrapper .recruit h3 {
  color: var(--point-color);
  font-size: var(--font-size-title);
  font-family: var(--main-font-en);
  font-weight: 700;
}
.contact .contact-wrapper .recruit .more-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
