@charset "utf-8";

/* common.css */
/* 변수 선언 */
@import url(./variable.css);

/**** common ****/
body {
  font-family: var(--main-font-ko);
  text-align: center;
  text-transform: uppercase;
  word-break: break-all;
  overflow-wrap: break-word;
}
img {
  width: 100%;
  vertical-align: top;
}
.flex {
  display: flex;
  align-items: center;
}
.lower-case {
  text-transform: lowercase;
}
.main-title {
  font-family: var(--main-font-en);
  font-size: var(--font-size-title);
  text-transform: capitalize;
  font-weight: 700;
}
.main-title::before {
  content: "/";
  font-family: var(--main-font-ko);
  color: var(--point-color);
  font-weight: 900;
  font-size: 2rem;
  display: block;
  margin: 100px 0 30px;
  /*
  content: "";
  width: 5px;
  height: 20px;
  background-color: var(--point-color);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 100px auto 30px;
  transform: skew(-30deg);
  */
}
.main-des {
  color: #666;
  line-height: 1.6;
  max-width: 600px;
  min-width: 400px;
  margin: 20px auto;
}
.more-btn {
  background-color: var(--point-color);
  color: #fff;
  text-transform: capitalize;
  display: inline-block;
  padding: 10px 30px;
  transition: 0.5s;
  font-weight: 700;
}
.more-btn:hover {
  border-radius: 30px;
}
.ghost-btn {
  display: inline-block;
  border: 1px solid #fff;
  padding: 10px 30px;
  transition: 0.3s;
}
.ghost-btn:hover {
  border-radius: 30px;
}
