/* variable.css 변수 선언 */

:root {
  --main-font-ko: "NotoSansKR", -apple-system, BlinkMacSystemFont,
    "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  --main-font-en: "Play", -apple-system, BlinkMacSystemFont, "Malgun Gothic",
    "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;

  --font-size-title: 2.375rem;
  --font-size-count: 3.25rem;
  --font-size-vid-title1: 4.25rem;
  --font-size-vid-title2: 4rem;
  --font-size-18: 1.125rem;
  --font-size-14: 0.875rem;

  --point-color: #f5821f;
}
